.htmlcontent > header,
.htmlcontent > footer {
    white-space: pre;
    font-family: "細明體";
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75em;
}
.htmlcontent .he-h3 {
    font-size: 20px;
    font-weight: bold;
}
.htmlcontent > main > div {
    margin: 1em 0;
}


[data-line-number] {
    position: relative;
}
[data-line-number]::before {
    content: attr(data-line-number);
    position: absolute;
    top: -1.375em;
    left: 0;
    font-size: smaller;
    color: #ccc !important; /* to overwrite bootstrap setting */
    text-indent: 0;
}


/**
 * 裁判書文字容器的寬度等調整
 * 司法院在多個地方設定了 CSS ：
 * * 在 HTML 裡用 jQuery 對 .htmlcontent 設定了 width:673px 和 font-size
 * * 在 he10.css 裡對 .htmlcontent 設定了：
 *   * width: 672px
 *   * transform: scale(0.8, 0.8), -webkit-transform, -moz-transform, ...
 * * 在 jub.css 裡對 .jud_content 設定了 max-width:600px
 *
 * 除第一個部分只能用 JavaScript 解決外，其他於此覆寫。
 */
div.htmlcontent {
    width: auto;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    line-height: 2em;
    margin: 0 .6em;
    padding: 0 .6em;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
}

div.jud_content {
    overflow-x: auto;
    max-width: none;
}

div.row {
    margin: 0; /* 官方給了左右負值，造成頁面會有橫向卷軸 */
}
