[class^="LER-stratum-"],
[class*=" LER-stratum-"] {
    margin: 0 0 0 2em !important;
    padding: 0;
    list-style-type: none;
}

[class^="LER-stratum-"] > li,
[class*=" LER-stratum-"] > li {
    margin: 0 0 0.5em 0 !important;
    padding: 0;
}

.LER-stratum-0 p {
    margin: 0.2em 0;
}

.LER-stratum-0 em {
    color: inherit;
}

.LER-stratum-0 > li:not(:only-of-type) {
    list-style-type: upper-roman;
}

.LER-stratum-0 > li:only-of-type {
    list-style-type: circle;
}

.LER-stratum-1 > li {
    padding-left: 2.5em;
}

.LER-stratum-1 > li > p:first-child {
    text-indent: -4.5em;
}

.LER-stratum-2 > li {
    padding-left: 0em;
}
.LER-stratum-2 > li > p:first-child {
    text-indent: -2em;
}

/**
 * 全國法規資料庫的「目」的括號是全形；但立法院法律系統中的括號是半形。
 */
.LER-stratum-3 > li {
    padding-left: 1em;
}
.LER-stratum-3 > li > p:first-child {
    text-indent: -3em;
}

.LER-stratum-4 > li {
    padding-left: 0em;
}
.LER-stratum-4 > li > p:first-child {
    text-indent: -1em;
}

.LER-stratum-5 > li {
    padding-left: 0.5em;
}
.LER-stratum-5 > li > p:first-child {
    text-indent: -2.5em;
}


/**
 * 彈出視窗
 *
 * z-index 最讓人擔憂了。已知：
 * * 法操的 .content-wrapper 是89
 * * 法律白話文的 #wi-wrapper 是 1000
 * * Bootstrap 的各式動態元件是 1000~1070
 * * 大法官解釋的 nav 是 1030
 */
.LER-popup-container {
    position: absolute;
    width: 30em;
    font-size: 16px;
    margin: 0;
    padding: 0;
    z-index: 1031;
    color: #222;
}
.LER-popup-container * {
    font-size: inherit;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.25;
}
.LER-popup-before,
.LER-popup-after {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #44444488 transparent;
    border-width: .6em .4em;
    margin: 0 auto;
}
.LER-popup-before {
    border-top-width: 0;
    margin-left: .5em;
}
.LER-popup-after {
    border-bottom-width: 0;
    margin-right: .5em;
}
.LER-popup {
    min-height: 2em;
    padding: .2em .5em .1em;
    border: 1px solid #44444488;
    border-radius: .5em;
    position: relative;
    background: #eeeeee;
}
.LER-popup-pin {
    position: absolute;
    top: .2em;
    right: 1.5em;
    width: 0;
    height: 0;
}
.LER-popup-pin:checked::after {
    content: url('data:image/svg+xml;utf8,<svg class="bi bi-pin-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354z"/></svg>');
}
.LER-popup-pin:not(:checked)::after {
    content: url('data:image/svg+xml;utf8,<svg class="bi bi-pin-angle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/></svg>');
}
.LER-popup > header:not(:empty) {
    border-bottom: 1px dashed #888;
}
.LER-popup > header time {
    font-size: smaller;
    color: #666;
}
.LER-popup > header time::before {
    content: " (";
}
.LER-popup > header time::after {
    content: ")";
}
.LER-popup-body {
    overflow-y: auto;
    max-height: 16em;
}
.LER-popup-body a[href] {
    color: #0072bb;
}
.LER-popup-body a[href]:hover {
    text-decoration: underline;
}


#LER-float-box {
    position: fixed;
    background-color: #000;
    color: #fff;
    top: 0.5em;
    right: 2em;
    padding: 0;
    height: 60vh;
    max-height: calc(100vh - 1em);
    width: 300px;
    overflow: visible auto;
    border: solid gray;
    border-width: 0 .2em .2em;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 150%;
    z-index: 1031;
    text-align: left;
    resize: both;
}

#LER-float-box * {
    background: none;
    font: inherit;
    text-align: inherit;
    color: inherit;
}

#LER-float-box > header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    cursor: grab;
    background-color: #ccc;
    position: sticky;
    top: 0;
    z-index: 2;
    height: calc(1.5em + 1px);
}

#LER-float-box > header > span:last-of-type {
    padding: 0 .4em;
    cursor: pointer;
    border-radius: .4em;
    border: 1px solid gray;
}

#LER-float-box > section:not(:first-of-type) {
    padding-top: 0.5em;
    margin-top: 0.5em;
}

#LER-float-box > section:not(:first-of-type) {
    border-bottom: 2px solid gray;
    padding-bottom: 0.5em;
}

#LER-float-box a[href] {
    color: yellow;
}

#LER-float-box .LER-popup-pin {
    display: none;
}

#LER-float-box dt {
    font-weight: bold;
}
